In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [1]:
!pip -q install kagglehub

In [2]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("mdickyriandi/crime-incident")

print("✅ Path to dataset files:", path)

✅ Path to dataset files: /kaggle/input/crime-incident

In [3]:
import os

files = os.listdir(path)
print("✅ Files in dataset folder:")
print(files)

✅ Files in dataset folder:
['Data_Laporan_Kejahatan.xlsx']

In [5]:
import os
import pandas as pd

# List all files downloaded
all_files = os.listdir(path)
print("✅ Files found:", all_files)

# Find Excel file
xlsx_files = [f for f in all_files if f.endswith(".xlsx")]
print("✅ Excel files found:", xlsx_files)

file_path = os.path.join(path, xlsx_files[0])
print("✅ Using file:", file_path)

✅ Files found: ['Data_Laporan_Kejahatan.xlsx']
✅ Excel files found: ['Data_Laporan_Kejahatan.xlsx']
✅ Using file: /kaggle/input/crime-incident/Data_Laporan_Kejahatan.xlsx

In [6]:
xls = pd.ExcelFile(file_path)
print("✅ Sheets available in Excel:", xls.sheet_names)

✅ Sheets available in Excel: ['Pencurian', 'Narkotika', 'Penipuan']

In [7]:
df_narkotika = pd.read_excel(file_path, sheet_name="Narkotika")
print("✅ Narkotika Loaded:", df_narkotika.shape)
df_narkotika.head()

✅ Narkotika Loaded: (300, 9)

,ID,Tanggal,Lokasi,Jenis Narkotika,Jumlah,Status Pelaku,Usia,JK,Tindakan
0,1,2024-08-02,Warung,Obat Terlarang,47 gram,Pengguna,58,L,Pembinaan
1,2,2024-06-02,Terminal,Ganja,37 gram,Pengguna,50,P,Pembinaan
2,3,2024-01-31,Lingkungan RT,Ganja,47 gram,Pengguna,21,P,Pembinaan
3,4,2024-02-14,Lingkungan RT,Ganja,85 gram,Pengedar,26,P,Dilaporkan
4,5,2024-05-17,Lingkungan RT,Ganja,58 gram,Pengedar,43,P,Pembinaan

In [9]:
print("✅ Columns in dataset:\n")
print(df_narkotika.columns)

print("\n✅ Dataset Info:\n")
df_narkotika.info()

print("\n✅ Missing Values (Top):\n")
print(df_narkotika.isnull().sum().sort_values(ascending=False))

✅ Columns in dataset:

Index(['ID', 'Tanggal', 'Lokasi', 'Jenis Narkotika', 'Jumlah', 'Status Pelaku',
       'Usia', 'JK', 'Tindakan'],
      dtype='object')

✅ Dataset Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               300 non-null    int64
 1   Tanggal          300 non-null    datetime64[ns]
 2   Lokasi           300 non-null    object
 3   Jenis Narkotika  300 non-null    object
 4   Jumlah           300 non-null    object
 5   Status Pelaku    300 non-null    object
 6   Usia             300 non-null    int64
 7   JK               300 non-null    object
 8   Tindakan         300 non-null    object
dtypes: datetime64[ns](1), int64(2), object(6)
memory usage: 21.2+ KB

✅ Missing Values (Top):

ID                 0
Tanggal            0
Lokasi             0
Jenis Narkotika    0
Jumlah             0
Status Pelaku      0
Usia               0
JK                 0
Tindakan           0
dtype: int64

In [10]:
print("✅ Summary Statistics:\n")
df_narkotika.describe()

✅ Summary Statistics:

               ID              Tanggal        Usia
count  300.000000                  300  300.000000
mean   150.500000  2024-07-08 23:31:12   38.833333
min      1.000000  2024-01-01 00:00:00   17.000000
25%     75.750000  2024-04-15 00:00:00   27.000000
50%    150.500000  2024-07-17 00:00:00   39.000000
75%    225.250000  2024-10-08 06:00:00   50.000000
max    300.000000  2024-12-31 00:00:00   60.000000
std     86.746758                  NaN   13.298938

In [11]:
print("✅ Duplicate Rows:", df_narkotika.duplicated().sum())

✅ Duplicate Rows: 0